.products{
    .product-item{
        cursor: pointer;

        &:hover {
            background-color: chartreuse;
        }
    };
}

.itemContainer{
    width: 100vw;
    height: 100vh;
    display:flex;
}

.imageContainer{
    width:40%;
    height:100%;
    position:relative;
    
}

.itemImage{
    width: 80%;
    height:80%;
    position:absolute;
    top:10%;
}
.descriptionContainer{
    width:60%;
    height:100%;
    font-family: 'Anton', sans-serif;
    position: flex;
    
}

.productTitle, .productDescription, .productPrice{
    width: 50%;
    height:10%;
    position:relative;
    top:5vh;
    display:inline-block;
}

.productPrice{
    position: relative;
    width:40%;
    display:inline-block;
    font-size: 4.2rem;
}

.shipping{
    width: 50%;
    position:relative;
    top:5%;
}

